# Config File for 1DPong
# Default is restored if file is deleted
# Ingame Changes are Saved here


# VelocityMod Settings
# VelocityMods
#	constant 0
#	constantIncrease 1
#	parabolicIncrease 2
#	linearHitPoint 3
#	parabolicHitPoint 4
velocityDefaultMod = 1
velocityConstantIncreaseValue = 0.1

# DeadlineMod Settings
# DeadlineMods
#	constant 0
#	constantDecrease 1
deadlineDefaultMod = 0
hitAreaSize = 0.125
deadlineConstantDecreaseValue = 0.01

# Screen Variables

runInFullscreen = false
windowWidth = 640
windowHeight = 480
